h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

h4 {

}
ul.coursework {
  font-family: 'Lexend Deca', sans-serif;
  list-style: circle;
  text-align: left;
  font-weight: normal;
  font-size: 15px;
  float: none;
}

li {
  margin-top: 5px;
  margin-bottom: 5px;
}
