body {
  background-color: #ffcfee;
  text-align: center;

}

a{
color: black;
}

/* Header style */
.header {
  width:100%;
  text-align: center;
  float: none;
  background-color: #ffcfee;
}

.header a{
  color: black;
  font-size: 70px;
  font-family: 'Lexend Zetta', sans-serif;
  letter-spacing: 0px;
  text-decoration: none;
  transition: .6s;
}

.header a:hover {
  text-shadow: -12px -12px white;
}

.navbar {
  position: fixed;
  overflow: hidden;
  width: 100%;
  top: 0;
}

.nav-standin {
  background-color: #ffcfee;
  padding-bottom: 5px;
  margin-bottom: 0px;
  transition: .6s;
}

/* No link underlines! */
.nav-standin a {
  margin: 15px;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 20px;
  background-color: #ffcfee;
  font-style: italic;
  padding-bottom: 3px;


}

/* Make navbar links lighter while hovering */
.nav-standin a:hover {
  background-color: black;
  color: #ffcfee;
}

.nav-standin a.active {
  background-color: #ed6a5a;
  color: #ffcfee;
}

.text {
  text-align: center;
  padding-top: 40px;
  max-width: 650px;
  margin: auto;
  margin-top: 100px;

}

p {
  font-size: 15px;
  text-align: left;
  font-family: 'Lexend Deca', Arial, sans-serif;
  margin-top: 0em;
}

h3 {
  font-family: 'Lexend Giga', Arial, sans-serif;
  text-align: left;
  display: block;
  margin-top: 2em;
  margin-bottom: 0em;
}

h4{
  font-family: 'Lexend Deca', Arial, sans-serif;
  font-weight: normal;
  text-align: left;
  font-style: italic;
  font-size: 14px;
  margin-top: .2em;
  margin-bottom: .2em;
}

img {
  margin-top: 0px;
  display: block;
  overflow-x: hidden;
  left: 0px;
  width: 100%;
}

#footer {
  font-family: 'Lexend Deca', Arial, sans-serif;
  font-size: 12px;
}
