body {
  background-color: #ffcfee;
  text-align: center;

}

.content {
  /* background-image: url("img/allstars.png"); */
  background-size: cover;
}

/* Header style */
.header {
  width:100%;
  text-align: center;
  background-color: #ffcfee;
}
.header a{
  color: black;
  font-size: 70px;
  font-family: 'Lexend Zetta', sans-serif;
  letter-spacing: 0px;
  text-decoration: none;
  transition: .6s;
}

.header a:hover {
  text-shadow: -12px -12px white;
}

/* No link underlines! */
#nav-standin a {
  margin: 15px;
  color: black;
  padding-left: 5px;
  padding-right: 5px;
  text-decoration: none;
}

/* nav font */
#nav-standin a{
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 20px;
  background-color: #ffcfee;
  font-style: italic;
  transition: .4s;
  padding-bottom: 3px;


}

/* Make navbar links lighter while hovering */
#nav-standin a:hover {
  background-color: black;
  color: #ffcfee;
}
.active {
  background-color: black;
  color: #ffcfee;
}

.text {
  text-align: center;
  font-family: 'Lexend Deca', sans-serif;
  padding-top: 40px;
  font-size: 15px;
  max-width: 650px;
  margin: auto;

}


strong {
  font-weight: normal;
  font-family: 'Lexend Giga', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

p {
    text-align: center;

}

img {
  margin-top: 8px;
}
