body {
  background-color: #ffa4dc;
  padding: 0px;

}

.content {
  /* background-image: url("img/allstars.png"); */
  background-size: cover;
}


/* No link underlines! */
a {
  margin: 15px;
  color: black;
  text-decoration: none;
}

/* Make navbar links lighter while hovering */
#nav-standin a:hover {
  opacity: .5;
}

.header {
  width:100%;
  text-align: center;
  background-color: #ffa4dc;
}
.header a{
  color: black;
  font-size: 100px;
  font-family: 'Modak', cursive;
  text-shadow: -4px -4px #c121ef, -8px -8px #ff3e13, -12px -12px #ff7a00, -16px -16px #ed8f00;
  letter-spacing: 5px

}

.text {
  text-align: center;
  font-family: 'Roboto', cursive;
  margin: 100px;
  padding: 5px;
  font-size: 18px;

}


/* nav font */
#nav-standin {
  text-align: center;
  font-family: 'Chicle', cursive;
  font-size: 40px;
  background-color: #ffa4dc;
}

strong {
  font-weight: normal;
  font-family: 'Chicle', cursive;
  font-size: 25px;
}

b {
  font-weight: bolder;
}
