body {
  background-color: #ffa4dc;
  padding: 0px;

}

.content {
  background-image: url("img/allstars.png");
  background-size: contain;
}


/* nav font */
#nav-standin {
  text-align: center;
  font-family: 'Chicle', cursive;
  font-size: 20px;
  background-color: #ffa4dc;
}

/* No link underlines! */
a {
  text-decoration: none;
}

/* Make navbar links lighter while hovering */
#nav-standin a:hover {
  opacity: .5;
}

#white {
  color: white;
  font-family: 'Chicle', cursive;
}

#red {
  color: #ff3e13;
  font-family: 'Chicle', cursive;
}

#blue {
  color: #002eff;

}
.header {
  width:100%;
  text-align: center;
  background-color: #ffa4dc;
}
.header a{
  color: black;
  font-size: 100px;
  font-family: 'Modak', cursive;
  text-shadow: 3px 3px #ffffff;
  letter-spacing: 5px

}

.text {
  text-align: center;
  background-color: white;
  font-family: 'Dosis', cursive;
  margin: 100px;
  padding: 5px;

}
